/* Partners Bar */
.partners-bar {
  padding: var(--space-xl) 0;
  background: #F8F9FB;
  /* Light subtle grey as seen in image */
  text-align: center;
}

.partners-title {
  font-size: 14px;
  color: #9CA3AF;
  font-weight: 400;
  /* margin-bottom: var(--space-lg); */
  font-family: var(--font-secondary);
}

.partners-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-xl);
}

.partner-logo img {
  height: 112px;
  width: auto;
}